body {
    margin: 0;
    background: lightgrey;
    flex-wrap: wrap;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

:root {
    --main-color:black;
    min-width: 530px;
}

.bg {
    text-align: center;
    padding: 0px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
    }

.container {
        display: grid;
        place-content: center;
      }

.foto{
        align-items: center;
        margin-top: 100px;
        border-style: double;
        padding: 5px;
        display: flex;
        justify-content: start;
        width:300px;
        height:300px;
        border-radius:100px;
     
    }

.bghome{
    margin-top: 250px;
}

.bg-text {
        align-items: center;
        color: var(--main-color);
        font-weight:normal;
        border-style: double;
        border-color: black;
        position:relative ;
        top: 10%;
        /* left: 43%; */
        /* transform: translate(-50%, -50%); */
        /* z-index: 2; */
        width: 90%;
        padding: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;

}

.custom-section {
    padding-top: 10px;
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-project {
    display: flex;
    margin-top: 70px;
}

.pro{
    float: left;
    margin-right:10px;
    width:200px;
    height:200px;
    border-radius:150px;
}

.card-text {
    float: left;
    font-family: 'New Tegomin';
    width:500px;
    height:200px;
}

.caja{
 padding-top: 100px;
}

.skills{
    display: flex;
    flex-direction: column;
}

.soft-skills{
    display: flex;
    flex-direction: column;

}
.bg-skills {
    align-items: center;
    color: var(--main-color);
    font-weight:normal;
    border-style: double;
    border-color: black;
    position:relative ;
    top: 10%;
    /* left: 40%; */
    /* transform: translate(-50%, -50%); */
    width: 90%;
    padding: 20px;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

.scroll{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.flecha { 
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 width:50px;
 height:50px;
 border-radius:150px;
 margin-bottom: 20px;
 
}


.home{
    background-image: url("./images/fondo4.jpg") ;
}
.contact{
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
}
    footer {
        background: black;
        padding: 5px 0;
        color: white;
        margin: 40px;
        width: 100%;
    }