body {
    margin: 0;
    background: lightgrey;
}
/* .navbar{
    position: fixed;
    
} */

.navbar {
    position: fixed;
    z-index: 1;
}

:root {
    --main-color:black;
}

.bg {
    text-align: center;
    padding: 0px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
    }

.container {
        display: grid;
        place-content: center;
      }

.foto{
        margin-top: 100px;
        border-style: double;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: start;
        width:300px;
        height:300px;
        border-radius:150px;
     
    }

.bghome{
    margin-top: 250px;
}

.bg-text {
        color: var(--main-color);
        font-weight:normal;
        border-style: double;
        border-color: black;
        position:relative ;
        top: 10%;
        left: 40%;
        transform: translate(-50%, -50%);
        /* z-index: 2; */
        width: 90%;
        padding: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;

}

.custom-section {
    padding-top: 10px;
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-project {
    display: flex;
}

.pro{
    float: left;
    margin-right:10px;
    width:200px;
    height:200px;
    border-radius:150px;
}

.card-text {
    float: left;
    font-family: 'New Tegomin';
    width:500px;
    height:300px;
}


footer {
    background: black;
    padding: 20px 0;
    color: white;
    margin: 40px;
}

.contact{
    margin-top: 40px;
    margin-left: 20px;
}

.home{
    background-image: url("./images/fondo4.jpg") ;
}